@model User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_navigation_footer.cshtml";

    var ao = new AjaxOptions
    {
        Url = "/Home/Login",
        HttpMethod = "post",
        LoadingElementId = "loader",
        OnSuccess = "result(data)",
        OnBegin = "loading"
    };
}

<h2 class="text-center">Login</h2>
@using (Ajax.BeginForm(ao))
{

    <div class="form-group">
        @Html.LabelFor(u => u.Username)
        @Html.TextBoxFor(u => u.Username, new { @class = "form-control", autofocus = "" })
        @Html.ValidationMessageFor(u => u.Username, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.Password)
        @Html.TextBoxFor(u => u.Password, new { @class = "form-control", type = "password" })
        @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })
    </div>
    <button data-loading type="submit" class="btn btn-primary">Login</button>
    <img src="~/Content/Assests/icon/91.gif" id="loader" style="display:none"/>
}

@section foot{
    <script>

        function result(data) {
            if (!data.result) {
                Swal.fire({
                    icon: 'error',
                    title: 'Username or Password incorrect'
                });
                $("#login_btn").show();
                closeLoading();
            }
        }
    </script>
}
